<h4>{{Title}}</h4>
<hr />
<a href="#NewProject" class="btn btn-sm btn-primary">Add New Project</a>
<hr />
<table class="table table-striped table-hover" style="width:70%">
    <thead>
        <tr class="info">
            <td>Project ID</td>
            <td>Project Name</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>Client Name</td>
        </tr>
    </thead>
    <tbody>
        <tr class="table-striped" ng-repeat="proj in Projects">
            <td>{{proj.projectId}}</td>
            <td>{{proj.projectName}}</td>
            <td>{{proj.startDate | date:'short'}}</td>
            <td>{{proj.endDate | date:'short'}}</td>
            <td>{{proj.clientName}}</td>
            <td>
                <a href="#ModifyProject/{{proj.projectId}}" class="btn btn-sm btn-info">Modify</a>
            </td>
            <td>
                <a href="#Projects" ng-click="deleteProject(proj)" class="btn btn-sm btn-info">Delete</a>
            </td>
        </tr>
    </tbody>
</table>