<!DOCTYPE html>
<html lang="en" ng-app="ProjectTrackingModule">
<head>
    <title>Employee Details</title>
    <script src="../scripts/jquery-3.1.1.min.js"></script>
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/Site.css" rel="stylesheet" />
    <script src="../scripts/angular.min.js"></script>
    <script src="../scripts/bootstrap.min.js"></script>
    <script src="../scripts/app.js"></script>
    <script src="../controllers/EmployeesController.js"></script>
</head>
<body ng-controller="EmployeesController">
<h3>{{Title}}</h3>
    <form name="searchEmployeeForm" ng-submit="SearchEmployees(EmployeeName)">
        Enter Employee Name Or Character To Search - <input type="text" required placeholder="Enter EmployeeID" ng-model="EmployeeName" />
        <input type="submit" value="Search Employee" />
    </form>
    <table class="table table-striped table-hover" ng-show="Employees">
    <thead>
        <tr class="info">
            <td>Employee ID</td>
            <td>Employee Name</td>
            <td>Designation</td>
            <td>Contact No.</td>
            <td>E-mail</td>
            <td>Skill Sets</td>
        </tr>
    </thead>
    <tbody>
    <tr class="table-striped" ng-repeat="emp in Employees | limitTo:5 | orderBy:'+employeeName'" >
            <td>{{emp.employeeId}}</td>
            <td>{{emp.employeeName}}</td>
            <td>{{emp.designation}}</td>
            <td>{{emp.contactNo}}</td>
            <td>{{emp.eMailId}}</td>
            <td>{{emp.skillSets}}</td>
        </tr>
    </tbody>
</table>

</body>
</html>